@using Rise.Shared.News
@inject NavigationManager NavigationManager
@inject IJSRuntime Js
@inject ISnackbar Snackbar
@inject IConfiguration Config
@inject IStringLocalizer<News> Loc
@using Microsoft.Extensions.Localization
@using Rise.Client.Resources.Pages.News

<div class="article-header" style="background-image: url(@($"{Config["ImageBasePath"]}/{Article?.ImageUrl}")">
    <div class="image-overlay"></div>
    <div class="header-content">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowRightAlt"
                       OnClick="@(() => NavigationManager.NavigateTo("/nieuws-en-events"))"
                       title="@Loc["BackToNewsAndEvents"]" />

        <p class="article-date">@Article?.Date.ToString("dd/MM/yyyy")</p>
        <h2>@Article?.Title</h2>
        
        <TopicLabel 
            Label="@Article?.Subject"
            Icon="@(Topics.AllTopics.FirstOrDefault(t => t.Name == Article?.Subject)?.Icon)" />
        
        <p class="article-time">@ReadTime @(ReadTime == 1 ? Loc["MinuteSingular"] : Loc["MinutePlural"]) @Loc["ReadingTime"]</p>
        
        <div class="share-icon">
            <MudIconButton Icon="@Icons.Material.Filled.Link"
                           OnClick="CopyLink"
                           title="@Loc["CopyLink"]"/>
        </div>
    </div>
</div>